html {
  background: linear-gradient(#3d4356, #181a22);
  background-size: cover;
  min-height: 100%;
  background-repeat:no-repeat;
}

a {
  color: white;
}

h1, h2, h3 {
  color: white;
}

.front-page-h1 {
  color: black;
}

.btn {
  margin-top: 10px;
}

.nav-bar-dropdown {
  text-align: left;
}

.nav-bar {
  background: transparent;
  height: 55px;
  padding: 0 25px;
}

.side-nav-links {
  color: white;
}

.box-container {
  padding: 0 20px;
  margin: 15px
}

.background > img {
  max-width: 236px;
}

.sign-up-log-in-holder {
  width: 400px;
  text-align: center;
  margin: 150px auto;
}

.signup-form-holder {
  width: 600px;
}

.userView {
  height: 300px;
}

.artist-name {
  padding: 0 10px;
}

.search-result:hover {
  cursor: pointer;
  font-weight: bold;
}

.add-box-container {
  margin: 90px 0;
}

.input-field {
  width: 60%;
  height: 50px;
}

.card {
  padding-bottom: 18px;
}

.side-nav {
  background: white;
  padding-top: 50px;
}

li {
  color: white;
}
