body {
  background: white;
}

.nav-bar-dropdown {
  text-align: left;
}

.nav-bar {
  background: #80d8ff;
  height: 55px;
  padding: 0 25px;
}

.box-container {
  border: 1px solid #80d8ff;
  padding: 0 20px;
  margin: 15px
}

.logo {
  color: white;
}

.background > img {
  max-width: 236px;
}

.sign-up-log-in-holder {
  width: 400px;
  text-align: center;
  margin: 150px auto;
}

.signup-form-holder {
  width: 600px;
}

.userView {
  height: 300px;
}

.artist-name {
  padding: 0 10px;
}

.search-result:hover {
  cursor: pointer;
  font-weight: bold;
}

.add-box-container {
  margin: 90px 0;
}

.input-field {
  width: 60%;
  height: 50px;
}

.card {
  padding-bottom: 18px;
}
